* {
    margin: 0;
    box-sizing: border-box;
}

.mainbox {
    height: 100vh;
    border: 2px solid black;
}

.mainbox div {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
}

.mainbox div>div {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    background-color: black;
}

.mainbox>div:nth-child(1) {
    background-color: red;
}

.mainbox>div:nth-child(2),
.sub-box-2 {
    background-color: green;
    top: 0px;
    right: 0;
    left: 0;
}

.mainbox>div:nth-child(3),
.sub-box-3 {
    background-color: brown;
    right: 0px;
    top: 0px;
}

.mainbox>div:nth-child(4),
.sub-box-4 {
    background-color: yellow;
    left: 0px;
    top: 0;
    bottom: 0;
}

.mainbox>div:nth-child(5),
.sub-box-5 {
    background-color: aqua;
    inset: 0;
}

.mainbox>div:nth-child(6),
.sub-box-6 {
    background-color: blue;
    right: 0px;
    top: 0;
    bottom: 0;
}

.mainbox>div:nth-child(7),
.sub-box-7 {
    background-color: blueviolet;
    left: 0;
    bottom: 0px;
}

.mainbox>div:nth-child(8),
.sub-box-8 {
    background-color: cadetblue;
    left: 0;
    right: 0;
    bottom: 0px;
}

.mainbox>div:nth-child(9),
.sub-box-9 {
    background-color: tomato;
    right: 0;
    bottom: 0px;
}