@media(max-width:992px) {
    .contianer {
        max-width: 800px;
        /* border: 2px solid black; */
        margin: auto;
    }

    .navbar {
        margin-top: 0px;
        padding: 30px;
    }

    .navitems {
        display: none;
    }

    .navbar .icons .mobilemenu {
        display: block;

        i {
            color: black;
        }
    }

    .home-page {
        grid-template-columns: none;
        margin: auto;

        .home-page-img {
            display: flex;
            justify-content: center;
        }
    }

    .home-page-btn {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}


@media(max-width:390px) {
    .navbar .icons .social-icons {
        display: flex;
        flex-wrap: wrap;
    }

    .home-page-img {}
}


@media (max-width:500px) {
    .home-page {
        text-align: center;
        justify-content: center;

        .home-page-img .page-img {
            width: 300px;
            height: 300px;
            object-fit: contain;
            bottom: 0;
        }

        .home-page-btn {
            a {
                font-size: calc(5vw - 5px);
                /* padding: 15px 30px; */

            }
        }
    }
}