@media(max-width:992px) {
    .contianer {
        max-width: 800px;
        /* border: 2px solid black; */
        margin: auto;
    }

    .navbar {
        margin-top: 0px;
        padding: 30px;
    }

    .navitems {
        display: none;
    }

    .navbar .icons .mobilemenu {
        display: block;

        i {
            color: black;
        }
    }

    .home-page {
        grid-template-columns: none;
        margin: auto;

        .home-page-img {
            display: flex;
            justify-content: center;
        }
    }
}


@media(max-width:390px) {
    .navbar .icons .social-icons {
        display: flex;
        flex-wrap: wrap;
    }

    .home-page-img {}
}