@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}



header {
  background-color: #f6f7f9;
  padding-top: 40px;
}

.contianer {
  max-width: 1200px;
  /* border: 1px solid black; */
  margin: auto;
}



/*  header start  */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 0px 2px gray;
  border-radius: 5px;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo a {
      display: flex;
    }

    .navitems {
      margin-left: 50px;

      ul {
        display: flex;
        list-style: none;

        li {
          padding: 20px 20px;
        }

        li a {
          text-decoration: none;
          color: black;

          i {
            font-size: 10px;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;

    .social-icons {
      span i {
        margin-right: 10px;
        font-size: 20px;
      }

      span:nth-child(1) {
        color: rgba(0, 162, 255, 0.517);
      }

      span:nth-child(2) {
        color: rgba(0, 0, 255, 0.686);
      }

      span:nth-child(3),
      :nth-child(4) {
        color: rgba(255, 0, 0, 0.648);
      }
    }

    .mobilemenu {
      display: none;

    }
  }

}



.home-page {
  padding-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex; */
  justify-content: space-around;
  /* border: 1px solid black; */

  .home-page-img {
    /* border: 1px solid black; */
    animation-name: slideInDown;
    animation-duration: 700ms;
    animation-timing-function: ease;
    /* animation-delay: 1500ms; */
    animation-direction: normal;
    animation-fill-mode: both;

    .page-img {
      box-sizing: content-box;
      width: 500px;
      height: 500px;
      border-radius: 60% 60% 60% 60%;
      background-image: url(../images/home-img.jpeg);
      background-size: cover;
    }

  }

  .home-page-content {
    padding: 40px;
    /* border: 1px solid black; */
    display: grid;


    /* margin-top: 140px; */
    /* font-size: 30px; */
    /* font-weight: bold; */
    /* text-align: left; */
    /* position: relative; */
    animation-name: slideInDown;
    animation-duration: 700ms;
    animation-timing-function: ease;
    animation-delay: 500ms;
    animation-direction: normal;
    animation-fill-mode: both;

    .home-page-heding {
      /* text-align: center; */
      animation-name: slideInDown;
      animation-duration: 700ms;
      animation-timing-function: ease;
      animation-delay: 1000ms;
      animation-direction: normal;
      animation-fill-mode: both;

      h1 {
        font-size: 48px;
        font-size: calc(5v - 2px);
      }
    }

    .home-page-describe {
      font-size: 25px;
      animation-name: slideInDown;
      animation-duration: 700ms;
      animation-timing-function: ease;
      animation-delay: 1500ms;
      animation-direction: normal;
      animation-fill-mode: both;
    }

    .home-page-btn {
      /* animation-name: slideInDown;
      animation-duration: 700ms;
      animation-timing-function: ease;
      animation-delay: 2000ms;
      animation-direction: normal;
      animation-fill-mode: both; */

      a:nth-child(1) {
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 50px;
        color: #ffffff;
        background-color: #d16b86;

        animation-name: slideInDown;
        animation-duration: 700ms;
        animation-timing-function: ease;
        animation-delay: 2000ms;
        animation-direction: normal;
        animation-fill-mode: both;
      }

      a:nth-child(2) {
        padding: 15px 30px;
        border-radius: 50px;
        text-decoration: none;
        border: 1px solid #d16b86;
        color: #d16b86;
        background-color: black;

        animation-name: slideInDown;
        animation-duration: 700ms;
        animation-timing-function: ease;
        animation-delay: 2500ms;
        animation-direction: normal;
        animation-fill-mode: both;
      }
    }
  }

}




.animated-text {
  margin-top: 140px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  position: relative;
  animation-name: slideInDown;
  animation-duration: 700ms;
  animation-timing-function: ease;
  animation-delay: 500ms;
  animation-direction: normal;
  animation-fill-mode: both;
}





@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}