@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}



header {
  background-color: #f6f7f9;
  padding-top: 50px;
  /* border: 1px solid black; */
}

.contianer {
  max-width: 1200px;

  margin: auto;
}



/*  header start  */

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 0px 2px gray;
  border-radius: 5px;
  z-index: 1;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo a {
      display: flex;
    }

    .navitems {
      margin-left: 50px;

      ul {
        display: flex;
        list-style: none;

        li {
          padding: 20px 20px;
        }

        li a {
          text-decoration: none;
          color: black;

          i {
            font-size: 10px;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;

    .social-icons {
      span i {
        margin-right: 10px;
        font-size: 20px;
      }

      span i:hover {
        transform: translateY(-5px);
        transition: 1s;
        /* color: black; */
      }

      span:nth-child(1) {
        color: rgba(0, 162, 255, 0.517);
      }

      span:nth-child(2) {
        color: rgba(0, 0, 255, 0.686);
      }

      span:nth-child(3),
      :nth-child(4) {
        color: rgba(255, 0, 0, 0.648);
      }
    }

    .mobilemenu {
      display: none;

    }
  }

}



.home-page {
  padding-top: 110px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex; */
  justify-content: space-around;
  /* border: 1px solid black; */

  .home-page-img {
    margin-top: 50px;
    /* border: 1px solid black; */
    animation-name: slideInDown;
    animation-duration: 700ms;
    animation-timing-function: ease;
    /* animation-delay: 1500ms; */
    animation-direction: normal;
    animation-fill-mode: both;

    .page-img {
      box-sizing: content-box;
      width: 500px;
      height: 500px;
      border-radius: 60% 60% 60% 60%;
      background-image: url(../images/home-img.jpeg);
      background-size: cover;
      position: relative;

      .page-img-boX {
        width: 40%;
        height: 20%;
        /* background-color: black; */
        background-color: white;
        position: absolute;
        right: -50px;
        bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        animation-name: slideInDown;
        animation-duration: 700ms;
        animation-timing-function: ease;
        animation-delay: 200ms;
        animation-direction: normal;
        animation-fill-mode: both;

        svg {
          height: 50px;
          width: 50px;
        }

        div strong {
          font-size: 20px;
        }
      }
    }

  }

  .home-page-content {
    margin-top: 60px;
    padding: 40px;
    /* border: 1px solid black; */
    display: grid;


    /* margin-top: 140px; */
    /* font-size: 30px; */
    /* font-weight: bold; */
    /* text-align: left; */
    /* position: relative; */
    animation-name: slideInDown;
    animation-duration: 700ms;
    animation-timing-function: ease;
    animation-delay: 500ms;
    animation-direction: normal;
    animation-fill-mode: both;

    .home-page-heding {
      /* text-align: center; */
      animation-name: slideInDown;
      animation-duration: 700ms;
      animation-timing-function: ease;
      animation-delay: 1000ms;
      animation-direction: normal;
      animation-fill-mode: both;

      h1 {
        font-size: 48px;
        font-size: calc(5v - 2px);
      }
    }

    .home-page-describe {
      font-size: 25px;
      animation-name: slideInDown;
      animation-duration: 700ms;
      animation-timing-function: ease;
      animation-delay: 1500ms;
      animation-direction: normal;
      animation-fill-mode: both;
    }

    .home-page-btn {
      a:hover {
        transform: translateY(10px);
        /* background-color: red; */
        transition: 1ms;
      }


      a:nth-child(1) {
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 50px;
        color: #ffffff;
        background-color: #d16b86;
        animation-name: slideInDown;
        animation-duration: 700ms;
        animation-timing-function: ease;
        animation-delay: 2000ms;
        animation-direction: normal;
        animation-fill-mode: both;
      }

      /* a:nth-child(1):hover {
        transform: translateY(-10px);
      } */

      a:nth-child(2) {
        padding: 15px 30px;
        border-radius: 50px;
        text-decoration: none;
        border: 1px solid #d16b86;
        color: #d16b86;
        animation-name: slideInDown;
        animation-duration: 700ms;
        animation-timing-function: ease;
        animation-delay: 2500ms;
        animation-direction: normal;
        animation-fill-mode: both;
      }
    }
  }

}



@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.design-information {
  display: flex;
  margin-top: 100px;
  padding: 50px;
  justify-content: space-between;

  .de-info-description {
    width: 45%;

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      color: #60697b;
      font-size: 24px;
    }
  }
}

.de-info-description {
  width: 45%;

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  p {
    /* color: #60697b; */
    font-size: 24px;
  }
}

.de-info-skill {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #60697b;

  .web-design-skiil {
    .web-design {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .web-skill {
      width: 100%;
      height: 5px;
      background-color: rgb(198, 176, 220);
      border-radius: 50px;
    }
  }

  .mobile-design-skill {
    .mobile-design {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .mobile-skill {
      width: 100%;
      height: 5px;
      display: flex;

      .skill-2-1 {
        width: 80%;
        background-color: rgb(140, 174, 236);
        border-radius: 50px;
        border-radius: 50px 0px 0px 50px;
      }

      .skill-2-2 {
        width: 20%;
        background-color: rgba(30, 34, 40, 0.06);
        border-radius: 0px 50px 50px 0px;
      }
    }
  }

  .devlopment-skill {
    .devlopment-design {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .devlopment-skill-in {
      width: 100%;
      height: 5px;
      display: flex;

      .skill-3-1 {
        width: 85%;
        background-color: #b0d4c1;
        border-radius: 50px;
        border-radius: 50px 0px 0px 50px;
      }

      .skill-3-2 {
        width: 15%;
        background-color: rgba(30, 34, 40, 0.06);
        border-radius: 0px 50px 50px 0px;
      }
    }
  }

  .seo-skill {
    .seo-design {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .seo-skill-in {
      width: 100%;
      height: 5px;
      display: flex;

      .skill-4-1 {
        width: 90%;
        background-color: #e3a6b6;
        border-radius: 50px;
        border-radius: 50px 0px 0px 50px;
      }

      .skill-4-2 {
        width: 10%;
        background-color: rgba(30, 34, 40, 0.06);
        border-radius: 0px 50px 50px 0px;
      }
    }
  }
}



.design-description {
  margin-top: 90px;
  margin-bottom: 50px;
  display: flex;
  width: 100%;
  justify-content: space-around;

  p {
    color: #60697b;

  }

  .web {
    text-align: center;
    width: 21%;
    /* color: #60697b; */

  }

  .mobile {
    text-align: center;
    width: 21%;
  }

  .devlopment {
    text-align: center;
    width: 21%;
  }

  .seo {
    text-align: center;
    width: 21%;
  }

}