* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.conteinar {
    max-width: 1200px;
    border: 2px solid black;
    margin: auto;
}


/* header start */

nav {
    display: flex;
    text-align: center;
}