
/* @media  (min-width:320px) {
  .navbar {
    .nav{

      .navitems{
        display: none;
      }
    }
    .icons{
      .social-icons{
        display: none;
      }
      .mobilemenu{
        display: block;
      }
    }
  }

.home-page{
  box-shadow: 0px 0px 5px gray;
  .home-page-img{
    width: 200px;
    height: 200px;
    .home-page-img-box{
      width:50% ;
    height:25% ;
      div:nth-child(1) img{
        width: 25px;
      }
      div:nth-child(2) p{
        font-size: 10px;
      }
    }
  }
  .home-page-content{
    margin-top: 50px;
  .home-page-heding{
    text-align: center;
    h1{
       font-size: 30px;
    }
  }
  .home-page-describe{
    text-align: center;
    p{

      font-size: 16px;
    }
  }
  .home-page-button{
    justify-content: center;
    a{
     
    }
  }
  }
}
} */









/* @media  (min-width:481px) {
  
}

@media  (min-width:768px) {
  .navbar{
    justify-content: space-between;
    padding: 0px 20px;
    .nav{
      
      .navitems{
        display: none;
      }

    }
    .icons{
      .mobilemenu{
        display: flex;
      }
    }
  }


  .home-page{

  }

 
}

@media (min-width:1024px) {
  .navbar {
    .nav{
      .navitems{
        display: block;
      }

    }
    .icons{
      .social-icons{
        display: block;
      }
      .mobilemenu{
        display: none;
      }
    }
  }

  .home-page{
    padding: 0px 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    .home-page-img{
      width: 400px;
      height: 400px;
      .home-page-img-box{
      div:nth-child(1) img{
      width: 50px;
      }
      div:nth-child(2) p{
        font-size: 16px;
      }
    }
    }
    .home-page-button{
      a{
      
      }
    }
  }
} */

@media  screen and(min-width:1200px) {
  
}