.gride {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
    gap: 20px;

}


.box-1 {
    grid-column-start: 1;
    grid-column-end: 8;
    background-color: yellow;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
}

.box-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: aqua;
}

.box-4 {
    grid-column-start: 5;
    grid-column-end: 8;
    background-color: cadetblue;

}

.box-5 {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: blueviolet;
}

.box-6 {
    grid-column-start: 5;
    grid-column-end: 8;
    background-color: brown;
}


.box-7 {
    grid-column-start: 1;
    grid-column-end: 8;
    background-color: yellow;
}