.heading {
    background-color: rgb(0, 255, 13) !important;
}

*/ .heading {
    background-color: unset;
}

#demo {
    background-color: gray;
}


#demo {
    background-color: unset;
}

/*  Attribute Selector */

a[target="_blank"] {
    background-color: yellow;
}

a[target] {
    background-color: yellow;
}

a[href="https://www.facebook.com"] {
    text-decoration: none;
}


a[href^="https"] {
    text-decoration: none;
}

div[class*="t"] {
    height: 100px;
    width: 200px;
    border: 2px solid black;
}