.bg-color {

    width: fit-content;
    height: 500px;
    font-size: 200px;
    background-image: url(../img/1127115.jpg);
    background-clip: text;
    color: transparent;
    background-position: bottom;


}


.bg-blend {
    width: 500px;
    height: 500px;
    background-image: url(../img/1127115.jpg), url(../img/download.jpg);
    /* background-image: url(../img/download.jpg); */
    /* background-repeat: no-repeat; */
    background-blend-mode: color;
}

p {
    font-size: 50px;
}

.img {
    background-attachment: fixed;
    /* background-attachment: local, fixed; */
    width: 500px;
    height: 500px;
    background-image: url(../img/1127115.jpg);
}