* {
    margin: 0;
    box-sizing: border-box;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: brown;
    position: sticky;
    top: 0;
    bottom: 0;
    /* z-index: 10; */
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: green;
    position: static;
    margin-top: -100px;
    z-index: 10;

}


nav {
    background-color: cadetblue;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: white;
}