/* .maindiv .divul {
    list-style-type: none;
}

.divul .child-1 {
    background-color: red;
}

.divul .child-1 b {
    background-color: rgb(53, 4, 230);
}


body>.maindiv {
    border: 5px solid black;
}

.maindiv>.divul>.child-1 p {

    font-size: 50px;
}

.child-1+li {
    list-style: circle;
    background-color: aqua;
} */



/* .child-1~li {
    background-color: blue;
} */



ul {
    background-color: aqua;
}

.divul {
    background-color: blueviolet;

}

/* #love {
    background-color: pink;
} */

.maindiv .divul {
    background-color: rgb(36, 36, 71);
}

body .maindiv .divul { 
    background-color: orange;
}