/* .text-align {
    text-align: center;
    text-align: end;
    text-align: justify;
    text-align: left;
    text-align: right;
    text-align: start;
} */


.img-tag {
    width: 300px;
    height: 300px;
    margin-inline-start: auto;
    display: block;
}

.text-transfomer {
    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: none;
    text-transform: capitalize;
}

.text-decor {
    /* text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: dotted underline red;
    text-decoration: wavy line-through black; */
    text-decoration-line: underline;
    text-decoration-color: yellow;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
    text-underline-offset: 20px;
}

.shedow {
    text-shadow: 1px 15px rgb(65, 65, 65)
}

.font-style {
    font-style: italic;
    font-style: oblique;
    font-style: normal;
}


.line-height {
    font-size: 2em;
    font-weight: bold;
    /* line-height: 60px; */
    /* letter-spacing: 10px; */
    /* word-spacing: 100px; */
    /* word-spacing: 200px; */
    white-space: pre;
    /* white-space: nowrap; */
    white-space: wrap;
}