body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont {
    width: 100px;
    height: 100px;
    background-color: black;
}


.cont:hover {
    transform: translate(200px, 200px);
    /* transform: translateX(200px); */
    /* transform: translateY(200px); */

    /* transform: scale(2); */
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */

    /* transform: rotate(45deg);
    transform: rotateX(60deg);
    transform: rotateY(60deg); */

    /* transform: skew(45deg, 180deg);
    transform: skewX(45deg);
    transform: skewY(10deg); */

    transition-duration: 2s;
    transition-delay: 2s;
    transition-property: all;

    transition-timing-function: linear;
    transition-timing-function: ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    transition-timing-function: ease-in-out;
    transition-timing-function: steps(2);




}